* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
}

.page-body {
    margin-top: 4.688rem;
    height: auto;
    width: auto;
}

.page-footer {
    width: auto;
    width: 100%;
}

/* Título da página */
.title {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.title p {
    font-size: 32px;
}

.title-mask {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.divisory {
    background-color: #000000;
    width: 10%;
    height: 0.5rem;
}

.pending-section {
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.past-section {
    display: flex;
    flex-direction: column;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

table {
    border-style: solid;
    width: 75%;
}

th {
    border-bottom-style: solid;
}

.nf {
    width: 10%;
}

.total-value {
    width: 25%;
}

.receive-value {
    width: 25%;
}

.antecipation-type {
    width: 12.5%;
}

.date {
    width: 12.5%;
}

.status {
    width: 25%;
}

@media only screen and (max-width: 768px) {
    table {
        width: 100%;
    }

    .pending-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
    
    .past-section {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }
}