* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    width: initial;
}

img {
    width: 30rem;
}

.page-body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    /**/
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 40rem;
    border-radius: 20px;
    box-shadow: 10px 10px gray;
}

.txt {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.btn-primary {
    background-color: #022A97;
    border: 2px solid black;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

body {
    padding: 3%;
    background-color: lightgray;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    width: auto;
    z-index: -1;
}

input {
    border-radius: 5px;
}