/*Written by Renato*/
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.page-menu-overlay {
    display: flex;
    width: 100%;
    height: 100%;
    height: auto;
    flex-direction: column;
    position: fixed;
    z-index: 1;
}

.header-menu {
    display: flex; 
    flex-direction: row; 
    width: 90%; 
    height: 100%;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.logout-button {
    margin-right: 1rem;
}

.logout-button a {
    color: #FFFFFF;
    text-decoration: none;
}

.logout-button:hover {
    cursor: pointer;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3468FC;
    height: 3rem;
    width: 100%;
    color: #FFFFFF;
}

.header-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.header-menu-button:hover {
    cursor: pointer;
    background-color: #8CAAFD;
}

.page-body {
    margin-top: 4.688rem;
    width: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.page-footer {
    width: auto;
    width: 100%;
}

.welcome-message {
    color: #3468FC;
    font-weight: 500;
}

.page-content {
    display: flex;
    flex-direction: row;
}

.general-content {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
}

.general-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.general-vision h1 {
    font-weight: 400;
}

.vision-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.general-vision-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 5.25rem;
    border-radius: 100px;
    border-width: 1.5px;
    background-color: #cffce2;
}

.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 35%;
    height: auto;
}

.ranking table {
    width: 100%;
    border-style: solid;
}

.ranking th {
    border-bottom-style: solid;
    height: 1.5rem;
}

.ranking td {
    height: 1.5rem;
}

.ranking-table-position {
    width: 2.5%;
    text-align: center;
}

.ranking-table-id {
    width: 5%;
    text-align: center;
}

.ranking-table-razao {
    width: 70%;
}

.ranking-table-qtd {
    width: 2.5%;
    text-align: center;
}

.ranking-table-total {
    width: 20%;
}

.search-bar {
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex; 
    width: 97.5%;
    height: 1.5rem;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
}

.bar select, button:hover {
    cursor: pointer;
} 

.bar input {
    width: 70%; 
    height: 100%; 
    border-color: #000000;
    border-style: none;
}

.bar select {
    width: 15%;
    height: 100%;
    text-align: center;
    border-color: #000000; 
    border-style: none;
}

.bar button {
    width: 15%;
    height: 100%;
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: none;
}

.hotel-id {
    width: 2.5%;
    max-width: 2.5%;
    text-align: center;
}

.hotel-name {
    width: 65%;
    max-width: 65%;
}

.hotel-state {
    width: 10%;
    max-width: 10%;
    text-align: center;
}

.hotel-tel {
    width: 22.5%;
    max-width: 22.5%;
    text-align: center;
}

.search-bar table {
    margin-top: 5px;
    overflow-x: scroll;
    width: 98%;
    max-height: 20rem;
    border-style: solid;
}

.search-bar th {
    border-bottom-style: solid;
    height: 1.5rem;
    height: 1.5rem;
}

.search-bar td {
    height: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .page-content {
        flex-direction: column;
    }

    .general-content, .ranking {
        width: 100%;
    }

    .general-vision {
        gap: 200rem;
    }

    .search-bar table {
        width: 100%;
    }

    .bar {
        width: 99.5%;
    }
}

@media only screen and (max-width: 568px) {
    .general-vision-box {
        width: 22.5rem;
    }

    .bar {
        width: 99%;
    }
}