.body-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 0.5rem;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    font-size: 1rem;
    height: auto;
}

.search-bar input {
    width: 75%;
    height: 1.5rem;
    background-color: #F2F2F2;
}

.search-bar select {
    width: 10rem;
    height: 1.75rem;
    background-color: #F2F2F2;
    text-align: center;
}

.order-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 1.65rem;
    background-color: #F2F2F2;
    border-width: 0.01rem;
    border-style: solid;
}

.order-button:hover{
    cursor: pointer;
}

.data-grid {
    width: auto;
    height: auto;
    max-height: 20rem;
    overflow-x: scroll;
    overflow-y: scroll;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border-style: solid;
    border-width: 1px;
    min-width: 15rem;
}

.body-general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;

    width: 95vw;
}

.body-divisory {
    background-color: #000000;
    width: 17rem;
    height: 0.2rem;
}

.body-date-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
    height: auto;
}

.date-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 15rem;
    height: 5rem;
}

.date-button:hover {
    cursor: pointer;
}

#left-button {
    border-right-style: none;
    border-top-left-radius: 1rem 1rem;
    border-bottom-left-radius: 1rem 1rem;
}

#right-button {
    border-left-style: none;
    border-top-right-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
}

.body-info {
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.body-info-box {
    background-color: #F2F2F2;
    border-style: solid;
    border-width: 0.01rem;
    width: 14rem;
    height: 17.5rem;
}